@model IEnumerable<Roles_Estructuras_Control.Models.DetalleFacturaModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<div class="row-cols-2">
    <div class="col-md-6">
        <label class="control-label">Clientes</label>
        <select class="form-select" id="listaClientes">

        </select>
    </div>
</div>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-responsive table-bordered table-striped" id="tablaclientes">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
               Cantidad
            </th>
            <th>
               Nombre Producto
            </th>
            <th>
               Precio Unitario
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

       

    </tbody>
</table>
