@model DesdeBDD.Models.Cliente

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodigoCliente" />
            <div class="form-group">
                <label asp-for="NombreCliente" class="control-label"></label>
                <input asp-for="NombreCliente" class="form-control" />
                <span asp-validation-for="NombreCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreContacto" class="control-label"></label>
                <input asp-for="NombreContacto" class="form-control" />
                <span asp-validation-for="NombreContacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoContacto" class="control-label"></label>
                <input asp-for="ApellidoContacto" class="form-control" />
                <span asp-validation-for="ApellidoContacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fax" class="control-label"></label>
                <input asp-for="Fax" class="form-control" />
                <span asp-validation-for="Fax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LineaDireccion1" class="control-label"></label>
                <input asp-for="LineaDireccion1" class="form-control" />
                <span asp-validation-for="LineaDireccion1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LineaDireccion2" class="control-label"></label>
                <input asp-for="LineaDireccion2" class="form-control" />
                <span asp-validation-for="LineaDireccion2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ciudad" class="control-label"></label>
                <input asp-for="Ciudad" class="form-control" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pais" class="control-label"></label>
                <input asp-for="Pais" class="form-control" />
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoPostal" class="control-label"></label>
                <input asp-for="CodigoPostal" class="form-control" />
                <span asp-validation-for="CodigoPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoEmpleadoRepVentas" class="control-label"></label>
                <select asp-for="CodigoEmpleadoRepVentas" class="form-control" asp-items="ViewBag.CodigoEmpleadoRepVentas"></select>
                <span asp-validation-for="CodigoEmpleadoRepVentas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LimiteCredito" class="control-label"></label>
                <input asp-for="LimiteCredito" class="form-control" />
                <span asp-validation-for="LimiteCredito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
